body {
    height: 200vh;
}

main>section {
    display: flex;
}

.inicio-direita {
    background: var(--cor-azul);
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
}
.inicio-direita>div {
    text-align: end;
}
.inicio-direita>div>h1 {
    font-size: 11em;
}
h2 {
    color: var(--cor-2);
    font-size: 2em;
}