header.menu {
    position: fixed;
    width: 100%;
    z-index: 99;
    &>section.menuComponent {
        height: 50px;
        padding: 0 10px;
        justify-content: space-between;
        background: var(--cor-2);
        transition: 500ms;
    }

    &>section.menuComponent, .navegacao>ul, .redes_sociais, .navegacao {
        display: flex;
    }
    
    &>section.menuComponent, .navegacao {
        align-items: center;
    }

    .navegacao>ul {
        &>li {
            padding: 1em;
        }
        & li {
            align-content: center;
            transform: translateY(-50px);
            transition: 500ms;
            &:hover {
                color: var(--cor-verde);
                transition: 200ms;
            }
            &>p {
                cursor: pointer;
            }
        }
    }
}


.botao_altera_tema {
    width: 30px;
    height: 30px;
}
.icon_tema,
svg[name=logo-github],
svg[name=logo-linkedin],
.redes_sociais>li>a {
    color: var(--cor-1);
    transition: 500ms;
}

.icon_tema,
svg[name=logo-github],
svg[name=logo-linkedin] {
    width: 25px;
    height: 25px;
}

.icon_tema:active {
    transform: rotate(45deg);
    transition: 100ms;
}

.redes_sociais>li {
    margin: 1em .5em;
}

.redes_sociais>li>a {
    display: flex;
    width: 100%;
    height: 100%;
    line-height: 28px;
    font-family: 'Belanosima', sans-serif;
}

.redes_sociais>li>a>svg:hover,
.icon_tema:hover{
    color: var(--cor-verde);
    transition: 200ms;
}