header {
    position: fixed;
    width: 100%;
    z-index: 99;
    &>section {
        height: 50px;
        padding: 0 10px;
        justify-content: space-between;
        background: var(--cor-2);
        transition: 500ms;
    }

    &>section, .navegacao>ul, .redes_sociais, .navegacao {
        display: flex;
    }
    
    &>section, .navegacao {
        align-items: center;
    }
}


.botao_altera_tema {
    width: 30px;
    height: 30px;
}

.logo_marca {
    position: relative;
    width: 50px;
    height: 50px;

    &:hover>div>.c {
        margin-left: .2em;
        transform: translateX(0px);
    }

    &:hover>div>p, &:hover>div>div>p {
        opacity: 1;
    }

    &:hover>div>.avid>p {
        transform: translateX(0px);
        transition-delay: 250ms;
    }

    &:hover>div>.ruz>p {
        transform: translateX(0px);
        transition-delay: 500ms;
    }


    &>div {
        display: flex;
        position: absolute;
        
        &>div {
            overflow: hidden;
        }

        
        &>.c {
            margin-left: 0;
        }

        &>p, &>div>p {
            line-height: 50px;
            font-size: 1.5em;
            color: var(--cor-1);
            opacity: .5;
            transform: translate(-48.8px);
            transition: 500ms;
        }

        &>.d {
            width: 14.1px;
            margin: 16.2px 1.4px;
            opacity: 1;
            z-index: 1;
        }
        .d_verde, .d_tema {
            stroke-width: 0;
        }
        .d_verde {
            fill: var(--cor-verde);
        }

        .d_tema {
            fill: var(--cor-1);
            transition: 500ms;
        }
    }
}
.icon_tema,
svg[name=logo-github],
svg[name=logo-linkedin],
.redes_sociais>a>li {
    color: var(--cor-1);
    transition: 500ms;
}

.icon_tema,
svg[name=logo-github],
svg[name=logo-linkedin] {
    width: 25px;
    height: 25px;
}

.icon_tema:active {
    transform: rotate(45deg);
    transition: 100ms;
}

.redes_sociais>a {
    margin: 1em .5em;
}

.redes_sociais>a>li {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 28px;
    font-family: 'Belanosima', sans-serif;
}

.redes_sociais>a>li>svg:hover,
.icon_tema:hover{
    color: var(--cor-verde);
    transition: 200ms;
}