header {
    position: fixed;
    width: 100%;
    z-index: 99;
    &>section {
        height: 50px;
        padding: 0 10px;
        justify-content: space-between;
        background: var(--cor-2);
        transition: 500ms;
    }

    &>section, .navegacao>ul, .redes_sociais, .navegacao {
        display: flex;
    }
    
    &>section, .navegacao {
        align-items: center;
    }
}


.logoTipo, .botao_altera_tema {
    width: 30px;
    height: 30px;
}

.logo_marca>p {
    font-family: 'Belanosima';
    line-height: 50px;
    font-size: 1.5em;
    color: var(--cor-1);
    transition: 500ms;

    &>i {
        opacity: .5;
    }
}



.icon_tema,
svg[name=logo-github],
svg[name=logo-linkedin],
.redes_sociais>a>li {
    color: var(--cor-1);
    transition: 500ms;
}

.icon_tema,
svg[name=logo-github],
svg[name=logo-linkedin] {
    width: 25px;
    height: 25px;
}

.icon_tema:active {
    transform: rotate(45deg);
    transition: 100ms;
}

.redes_sociais>a {
    margin: 1em .5em;
}

.redes_sociais>a>li {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 28px;
    font-family: 'Belanosima', sans-serif;
}

.redes_sociais>a>li>svg:hover,
.icon_tema:hover{
    color: var(--cor-azul);
    transition: 200ms;
}