.logo_marca {
    position: relative;
    width: 50px;
    height: 50px;

    &>div {
        display: flex;
        position: absolute;
        
        &>div {
            overflow: hidden;
        }
        
        &>.c {
            margin-left: 0;
        }

        &>p, &>div>p {
            line-height: 50px;
            font-size: 1.5em;
            color: var(--cor-1);
            opacity: .5;
            transform: translate(-48.8px);
        }

        &>.d {
            width: 14.1px;
            margin: 16.2px 1.4px;
            opacity: 1;
            overflow: visible;
            z-index: 1;
        }
        .d_verde_guia {}

        .ruz {
            position: relative;
            left: -35px;
            &>p {}
        }

        .avid {
            &>p {}
        }

        .d_verde, .d_tema {
            stroke-width: 0;
        }
        .d_verde {
            fill: var(--cor-verde);
        }

        .d_tema {
            fill: var(--cor-1);
        }
    }
}