.cards_container {
    display: block;
    text-align: center;
    padding: 5em 0;
    width: 85%;
    margin: auto;

    &>h1 {
        font-size: 1.5em;
        padding-bottom: 4em;
    }
}

.cards_component {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}