.card {
    background-color: var(--cor-2-clara);
    color: var(--cor-1);
    width: min(90%, 500px);
    box-shadow: var(--sombra-media);
    display: flex;
    transition: 500ms;
    &:hover {
        transform: translateY(-5px);
    }
    
    &>.img {
        background-position: center;
        background-size: cover;
        width: 50%;
    }

    &>.description {
        padding: 1em;
        display: flex;
        text-align: start;
        width: 50%;
        flex-direction: column;
        gap: 1em;
        justify-content: space-between;

        &>.updated_at {
            opacity: .2;
        }
        
        & p {
            font-size: 1em;
            line-height: 1.5em;
            opacity: .75;
        }
        
        &>.links {
            display: flex;
            padding-bottom: 1em;
            gap: 1em;

            &>a>p {
                opacity: .9;
                transition: 500ms;
                &:hover {
                    opacity: 1;
                    transform: translateY(-2px);
                }
            }
        }

        &>.tags {
            display: flex;
            flex-wrap: wrap;
            gap: .5em;

            &>div {
                padding: 5px 15px;
                background-color: var(--cor-verde);
                border-radius: 15px;
                color: var(--cor-2);
                font-size: .8em;
                transition: 200ms;

                &:hover {
                    transform: translateY(-2px);
                    filter: brightness(1.2);
                }
            }
        }
    }

    &>div>p {
        font-size: 1.2em;
        padding: .6em 0;
    }

    &>div>h3 {
        font-size: 1.5em;
        padding-top: .6em;
    }

}

@media(max-width: 768px) {
    .card {
        flex-direction: column;
        height: 500px;

        &>.img {
            width: 100%;
            height: 250px;
        }

        &>.description {
            width: 90%;
            text-align: start;

            &>div {
                justify-content: start;
            }
        }
    }

}