.card {
    background-color: var(--cor-2-clara);
    color: var(--cor-1);
    width: min(80%, 500px);
    box-shadow: var(--sombra-media);
    display: flex;
    transition: 500ms;
    &:hover {
        transform: translateY(-5px);
    }
    
    &>.img {
        background-position: center;
        background-size: cover;
        width: 50%;
    }

    &>.description {
        padding: 1em;
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: space-between;

        &>div {
            display: flex;
            flex-wrap: wrap;
            gap: .5em;

            &>div {
                padding: 5px 15px;
                background-color: var(--cor-verde);
                border-radius: 15px;
                color: var(--cor-2);
                font-size: .8em;
                transition: 200ms;

                &:hover {
                    transform: translateY(-2px);
                    filter: brightness(1.2);
                }
            }
        }
    }

    &>div>p {
        font-size: 1.2em;
        padding: .6em 0;
    }

    &>div>h3 {
        font-size: 1.5em;
        padding: .6em 0;
    }

    &>div>p {
        font-size: 1em;
        line-height: 1.5em;
        opacity: .75;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}