<svg width="300" height="704" viewBox="0 0 300 704" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="body">
        <rect id="body_2" y="325.695" width="300" height="378" rx="82" fill="#328272" />
        <g id="neck">
            <rect id="neck_2" x="105" y="228.695" width="90" height="147" rx="45" fill="url(#paint0_linear_2_16)" />
            <g id="head">
                <g id="earLeft">
                    <mask id="mask0_2_16" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="26" y="136" width="24"
                        height="61">
                        <rect id="cut" x="26" y="136.695" width="24" height="60" fill="#C79E70" />
                    </mask>
                    <g mask="url(#mask0_2_16)">
                        <rect id="earLeft_2" x="26" y="136.695" width="40" height="60" rx="15"
                            fill="url(#paint1_linear_2_16)" />
                        <path id="detail1"
                            d="M30 150.695C30 145.172 34.4772 140.695 40 140.695H41C45.9706 140.695 50 144.724 50 149.695V184.695C50 189.113 46.4183 192.695 42 192.695H34C31.7909 192.695 30 190.904 30 188.695V150.695Z"
                            fill="url(#paint2_linear_2_16)" />
                        <path id="detail2"
                            d="M29 145.695C29 145.142 29.4477 144.695 30 144.695H37C42.5228 144.695 47 149.172 47 154.695V190.695C47 192.904 45.2091 194.695 43 194.695H37C32.5817 194.695 29 191.113 29 186.695V145.695Z"
                            fill="url(#paint3_linear_2_16)" />
                        <circle id="detail3" cx="49.5" cy="172.195" r="10.5" fill="url(#paint4_linear_2_16)" />
                        <circle id="detail4" cx="50.5" cy="172.195" r="6.5" fill="url(#paint5_linear_2_16)" />
                    </g>
                </g>
                <g id="earRight">
                    <mask id="mask1_2_16" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="250" y="136" width="24"
                        height="61">
                        <rect id="cut_2" x="250" y="136.695" width="24" height="60" fill="#C79E70" />
                    </mask>
                    <g mask="url(#mask1_2_16)">
                        <rect id="earRight_2" x="234" y="136.695" width="40" height="60" rx="15"
                            fill="url(#paint6_linear_2_16)" />
                        <path id="detail1_2"
                            d="M270 150.695C270 145.172 265.523 140.695 260 140.695H259C254.029 140.695 250 144.724 250 149.695V184.695C250 189.113 253.582 192.695 258 192.695H266C268.209 192.695 270 190.904 270 188.695V150.695Z"
                            fill="url(#paint7_linear_2_16)" />
                        <path id="detail2_2"
                            d="M271 145.695C271 144.59 270.105 143.695 269 143.695H263C257.477 143.695 253 148.172 253 153.695V190.695C253 192.904 254.791 194.695 257 194.695H263C267.418 194.695 271 191.113 271 186.695V145.695Z"
                            fill="url(#paint8_linear_2_16)" />
                        <ellipse id="detail3_2" cx="10" cy="10.5" rx="10" ry="10.5"
                            transform="matrix(-1 0 0 1 261 161.695)" fill="url(#paint9_linear_2_16)" />
                        <circle id="detail4_2" cx="6.5" cy="6.5" r="6.5" transform="matrix(-1 0 0 1 258 165.695)"
                            fill="url(#paint10_linear_2_16)" />
                    </g>
                </g>
                <rect id="face" x="50" y="43.6948" width="200" height="250" rx="60" fill="url(#paint11_linear_2_16)" />
                <g id="mouth">
                    <rect id="jaw" x="81" y="203.695" width="138" height="68" rx="16"
                        fill="url(#paint12_linear_2_16)" />
                    <rect id="mouth_2" x="90" y="212.695" width="120" height="50" rx="16"
                        fill="url(#paint13_radial_2_16)" />
                    <mask id="mask2_2_16" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="90" y="212" width="120"
                        height="51">
                        <rect id="cut_3" x="90" y="212.695" width="120" height="50" rx="16" fill="#5C2D2D" />
                    </mask>
                    <g mask="url(#mask2_2_16)">
                        <rect id="tongle" x="116" y="237.695" width="68" height="25" rx="12.5" fill="#854C4C" />
                        <rect id="toothBottom" x="87" y="258.695" width="126" height="38" rx="12" fill="#EEE3CB" />
                        <rect id="toothTop" x="87" y="197.695" width="126" height="38" rx="12" fill="#EEE3CB" />
                        <rect id="gum" x="77" y="195.695" width="146" height="23" rx="11.5" fill="#854C4C" />
                    </g>
                </g>
                <g id="eyes">
                    <g id="eyeLeft">
                        <mask id="mask3_2_16" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="77" y="119"
                            width="59" height="60">
                            <circle id="cut_4" cx="106.5" cy="148.695" r="29.5" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask3_2_16)">
                            <circle id="eye" cx="106.5" cy="148.695" r="29.5" fill="#D9D9D9" />
                            <g id="pupil">
                                <circle id="pupil_2" cx="106" cy="148.695" r="15" fill="url(#paint14_radial_2_16)" />
                                <circle id="iris" cx="106" cy="148.695" r="4" fill="#302A26" />
                            </g>
                            <circle id="higtlight" cx="94.5" cy="141.195" r="7.5" fill="white" />
                            <path id="eyelidBottom"
                                d="M143 164.857C138.572 160.429 73 160.857 69 164.857C69 164.857 69 196.929 104.5 196.929C143 196.929 143 164.857 143 164.857Z"
                                fill="url(#paint15_linear_2_16)" />
                            <path id="eyelidTop"
                                d="M69 131.767C73.4282 136.195 139 135.766 143 131.767C143 131.767 143 99.6948 107.5 99.6948C69 99.6948 69 131.767 69 131.767Z"
                                fill="url(#paint16_linear_2_16)" />
                        </g>
                    </g>
                    <g id="eyeRight">
                        <mask id="mask4_2_16" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="165" y="119"
                            width="59" height="60">
                            <circle id="cut_5" cx="194.5" cy="148.695" r="29.5" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask4_2_16)">
                            <circle id="eye_2" cx="194.5" cy="148.695" r="29.5" fill="#D9D9D9" />
                            <g id="pupil_3">
                                <circle id="pupil_4" cx="194" cy="148.695" r="15" fill="url(#paint17_radial_2_16)" />
                                <circle id="iris_2" cx="194" cy="148.695" r="4" fill="#302A26" />
                            </g>
                            <circle id="higtlight_2" cx="182.5" cy="141.195" r="7.5" fill="white" />
                            <path id="eyelidBottom_2"
                                d="M231 164.857C226.572 160.429 161 160.857 157 164.857C157 164.857 157 196.929 192.5 196.929C231 196.929 231 164.857 231 164.857Z"
                                fill="url(#paint18_linear_2_16)" />
                            <path id="eyelidTop_2"
                                d="M157 131.767C161.428 136.195 227 135.766 231 131.767C231 131.767 231 99.6948 195.5 99.6948C157 99.6948 157 131.767 157 131.767Z"
                                fill="url(#paint19_linear_2_16)" />
                        </g>
                    </g>
                    <rect id="eyebrowLeft" x="76" y="109.695" width="60" height="20" rx="9"
                        fill="url(#paint20_linear_2_16)" />
                    <rect id="eyebrowRight" x="164" y="109.695" width="60" height="20" rx="9"
                        fill="url(#paint21_linear_2_16)" />
                </g>
                <g id="glasses">
                    <g id="astes">
                        <mask id="mask5_2_16" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="50" y="43"
                            width="200" height="251">
                            <rect id="cut_6" x="50" y="43.6948" width="200" height="250" rx="60" fill="#C79E70" />
                        </mask>
                        <g mask="url(#mask5_2_16)">
                            <line id="asteLeft" x1="68.2902" y1="140.656" x2="30.4942" y2="126.899" stroke="#292935"
                                stroke-width="5" stroke-linecap="round" />
                            <line id="asteRight" x1="270" y1="126.899" x2="232.204" y2="140.656" stroke="#292935"
                                stroke-width="5" stroke-linecap="round" />
                        </g>
                    </g>
                    <circle id="lensLeft" cx="106" cy="149.195" r="37.5" fill="#30343A" fill-opacity="0.1"
                        stroke="#292935" stroke-width="5" />
                    <circle id="lensRight" cx="194" cy="149.195" r="37.5" fill="#30343A" fill-opacity="0.1"
                        stroke="#292935" stroke-width="5" />
                    <line id="asteCenter" x1="144.5" y1="144.195" x2="155.5" y2="144.195" stroke="#292935"
                        stroke-width="5" stroke-linecap="round" />
                </g>
                <g id="hair">
                    <path id="hairLeft"
                        d="M50.2773 163.195V137.695C27.2773 89.6948 49.7773 39.6948 87.7773 33.1948C87.7773 33.1948 92.444 44.1948 87.7773 52.1948C81.444 69.1948 65.8773 104.295 54.2773 108.695C57.4773 118.695 56.2773 149.195 55.2773 163.195H50.2773Z"
                        fill="url(#paint22_linear_2_16)" />
                    <path id="hairRight"
                        d="M250.573 162.695V137.195C273.572 89.1948 251.073 39.1948 213.074 32.6948C213.074 32.6948 208.407 43.6948 213.074 51.6948C219.407 68.6948 234.973 103.795 246.573 108.195C243.373 118.195 244.573 148.695 245.573 162.695H250.573Z"
                        fill="url(#paint23_linear_2_16)" />
                    <path id="hairTop"
                        d="M234.499 41.1948L217.499 56.1948C99 105.195 27.4995 83.1948 27.4995 56.1948C27.4995 29.1948 74.4995 2.69479 132.999 0.194785C191.499 -2.30522 245.5 19.6948 234.499 41.1948Z"
                        fill="url(#paint24_linear_2_16)" />
                </g>
                <rect id="nose" x="120" y="141.695" width="60" height="95" rx="20" fill="url(#paint25_linear_2_16)" />
            </g>
        </g>
    </g>
    <defs>
        <linearGradient id="paint0_linear_2_16" x1="150" y1="228.695" x2="150" y2="375.695"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C79E70" />
            <stop offset="1" stop-color="#C79470" />
        </linearGradient>
        <linearGradient id="paint1_linear_2_16" x1="46" y1="136.695" x2="46" y2="196.695"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C79E70" />
            <stop offset="1" stop-color="#C79470" />
        </linearGradient>
        <linearGradient id="paint2_linear_2_16" x1="40" y1="140.695" x2="40" y2="192.695"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C78E70" />
            <stop offset="1" stop-color="#BF7066" />
        </linearGradient>
        <linearGradient id="paint3_linear_2_16" x1="38" y1="144.695" x2="38" y2="194.695"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C79E70" />
            <stop offset="1" stop-color="#C79470" />
        </linearGradient>
        <linearGradient id="paint4_linear_2_16" x1="49.5" y1="161.695" x2="49.5" y2="182.695"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C78E70" />
            <stop offset="1" stop-color="#BF7066" />
        </linearGradient>
        <linearGradient id="paint5_linear_2_16" x1="50.5" y1="165.695" x2="50.5" y2="178.695"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C79E70" />
            <stop offset="1" stop-color="#C79470" />
        </linearGradient>
        <linearGradient id="paint6_linear_2_16" x1="254" y1="136.695" x2="254" y2="196.695"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C79E70" />
            <stop offset="1" stop-color="#C79470" />
        </linearGradient>
        <linearGradient id="paint7_linear_2_16" x1="260" y1="140.695" x2="260" y2="192.695"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C78E70" />
            <stop offset="1" stop-color="#BF7066" />
        </linearGradient>
        <linearGradient id="paint8_linear_2_16" x1="262" y1="143.695" x2="262" y2="194.695"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C79E70" />
            <stop offset="1" stop-color="#C79470" />
        </linearGradient>
        <linearGradient id="paint9_linear_2_16" x1="10" y1="0" x2="10" y2="21" gradientUnits="userSpaceOnUse">
            <stop stop-color="#C78E70" />
            <stop offset="1" stop-color="#BF7066" />
        </linearGradient>
        <linearGradient id="paint10_linear_2_16" x1="6.5" y1="0" x2="6.5" y2="13" gradientUnits="userSpaceOnUse">
            <stop stop-color="#C79E70" />
            <stop offset="1" stop-color="#C79470" />
        </linearGradient>
        <linearGradient id="paint11_linear_2_16" x1="150" y1="43.6948" x2="150" y2="293.695"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C79E70" />
            <stop offset="1" stop-color="#C79470" />
        </linearGradient>
        <linearGradient id="paint12_linear_2_16" x1="150" y1="203.695" x2="150" y2="271.695"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C79770" />
            <stop offset="1" stop-color="#C79570" />
        </linearGradient>
        <radialGradient id="paint13_radial_2_16" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="translate(150 237.695) rotate(90) scale(25 60)">
            <stop offset="0.269231" stop-color="#2B132B" />
            <stop offset="0.975962" stop-color="#5C2D2D" />
        </radialGradient>
        <radialGradient id="paint14_radial_2_16" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="translate(106 148.695) rotate(90) scale(15)">
            <stop stop-color="#593D2F" />
            <stop offset="1" stop-color="#552828" />
        </radialGradient>
        <linearGradient id="paint15_linear_2_16" x1="106" y1="161.695" x2="106" y2="196.929"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C79E70" />
            <stop offset="1" stop-color="#C79470" />
        </linearGradient>
        <linearGradient id="paint16_linear_2_16" x1="106" y1="134.929" x2="106" y2="99.6948"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C79E70" />
            <stop offset="1" stop-color="#C79470" />
        </linearGradient>
        <radialGradient id="paint17_radial_2_16" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="translate(194 148.695) rotate(90) scale(15)">
            <stop stop-color="#593D2F" />
            <stop offset="1" stop-color="#552828" />
        </radialGradient>
        <linearGradient id="paint18_linear_2_16" x1="194" y1="161.695" x2="194" y2="196.929"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C79E70" />
            <stop offset="1" stop-color="#C79470" />
        </linearGradient>
        <linearGradient id="paint19_linear_2_16" x1="194" y1="134.929" x2="194" y2="99.6948"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C79E70" />
            <stop offset="1" stop-color="#C79470" />
        </linearGradient>
        <linearGradient id="paint20_linear_2_16" x1="106" y1="109.695" x2="106" y2="129.695"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#25201D" />
            <stop offset="1" stop-color="#0D0B12" />
        </linearGradient>
        <linearGradient id="paint21_linear_2_16" x1="194" y1="109.695" x2="194" y2="129.695"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#25201D" />
            <stop offset="1" stop-color="#0D0B12" />
        </linearGradient>
        <linearGradient id="paint22_linear_2_16" x1="65.4257" y1="33.1948" x2="65.4257" y2="163.195"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#25201D" />
            <stop offset="1" stop-color="#0D0B12" />
        </linearGradient>
        <linearGradient id="paint23_linear_2_16" x1="235.425" y1="32.6948" x2="235.425" y2="162.695"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#25201D" />
            <stop offset="1" stop-color="#0D0B12" />
        </linearGradient>
        <linearGradient id="paint24_linear_2_16" x1="131.717" y1="0" x2="131.717" y2="85.2689"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#25201D" />
            <stop offset="1" stop-color="#0D0B12" />
        </linearGradient>
        <linearGradient id="paint25_linear_2_16" x1="150" y1="141.695" x2="150" y2="236.695"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C78E70" />
            <stop offset="1" stop-color="#BF7066" />
        </linearGradient>
    </defs>
</svg>