section.bannerContainer {
    display: flex;
    overflow: hidden;
}

.inicio_esquerda {
    background: var(--cor-1);
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;

    &>div {
        &>h1 {
            color: var(--cor-2);
            transition: 500ms;
        }
        
        &>h2 {
            color: var(--cor-verde);
            transition: 500ms;
            animation-delay: 600ms;
        }
        &>.tecnologias {
            display: flex;
            justify-content: space-between;
            margin-top: 2em;
            color: var(--cor-2);

            &>svg {
                width: 50px;
                height: 50px;
                transition: 500ms;

                &:hover {
                    color: var(--cor-verde);
                    transform: translateY(5px);
                }
            }
        }
    }
}

.inicio_direita {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &>div {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: min(1000px, 50%);
    }
}

@media(min-width:1441px) {
    
    .inicio_esquerda {
        width: 50%;
        justify-content: end;
        transition: 500ms;
        &>div {
            margin-right: 100px;
            text-align: end;
            &>h1 {
                font-size: 11em;
            }
            
            &>h2 {
                font-size: 2em;
            }
        }
    }
    .inicio_direita {
        display: flex;
        background: var(--cor-2);
        width: 50%;
    }
}
@media(min-width:1025px) and ( max-width:1440px) {
    
    .inicio_esquerda {
        width: 100%;
        justify-content: end;
        transition: 500ms;
        &>div {
            margin-right: 100px;
            text-align: end;
            &>h1 {
                font-size: 11em;
            }
            
            &>h2 {
                font-size: 2em;
            }
        }
    }
    .inicio_direita {
        display: flex;
        background: var(--cor-2);
        width: 0%;
        &>div {
            right: 400px;
            display: flex;
        }
    }
}
@media(min-width:426px) and (max-width:1024px) {
    section {
        display: block;
    }
    .inicio_esquerda {
        width: 100%;
        justify-content: center;
        &>div {
            transform: translateY(-70%);
            text-align: center;
            &>h1 {
                font-size: 9em;
            }
            
            &>h2 {
                font-size: 1.5em;
            }
        }
    }
    .inicio_direita {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 200px;
        overflow: hidden;
        &>div {
            width: 800px;
            display: flex;
        }
    }
}
@media(max-width:425px) {
    section {
        display: block;
    }
    
    .inicio_direita {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-top: 200px;
        
        &>div {
            width: 200%;
            display: flex;
        }
    }

    .inicio_esquerda {
        width: 100%;
        justify-content: end;
        padding-top: 100px;
        align-items: start;
        text-align: end;

        &>div {
            &>h1, &>h2 {
                margin-right: 10%;
                font-size: 2em;
            }
    
            &>h1 {
                font-size: 5em;
            }
            
            &>.tecnologias {
                margin-right: 10%;
                margin-left: 10%;
            }
        }
    }
}