section {
    display: flex;
}

.inicio_esquerda {
    background: var(--cor-azul);
    width: 50%;
    height: 100vh;
    padding-bottom: 300px;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow: hidden;

    &>div {
        text-align: end;

        &>h1, &>h2 {
            margin-right: 25px;
            animation: entrada_titulo 1s ease-in-out 500ms both;
        }

        &>h1 {
            font-size: 11em;
        }
        
        &>h2 {
            color: var(--cor-2);
            font-size: 2em;
            transition: 500ms;
            animation-delay: 600ms;
        }
    }
}


.inicio_direita {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;

    &>div {
        position: relative;
        top: -150px;
        background-color: var(--cor-1);
        width: 500px;
        height: 500px;
        border-radius: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: entrada_fundoFoto 1s ease-in-out 2s both;
        transition: 500ms;
        
        &>img {
            position: relative;
            left: 100px;
            top: 50px;
            border: solid 20px var(--cor-2);
            border-radius: 250px;
            width: 400px;
            animation: entrada_foto 1s ease-in-out 1s both;
            transition: 500ms;
        }
    }
}

@keyframes entrada_titulo {
    from {
        transform: translateX(500px);
    }
}

@keyframes entrada_foto {
    from {
        transform: rotate(-360deg);
        width: 0px;
    }
}

@keyframes entrada_fundoFoto {
    from {
        width: 0;
        height: 0;
        top: -160px;
        left: -50px;
    } to {
        left: 0px;
    }
}