section {
    display: flex;
}

.inicio_esquerda {
    background: var(--cor-1);
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow: hidden;
    transition: 500ms;

    &>div {
        text-align: end;

        &>h1, &>h2 {
            margin-right: 100px;
            animation: entrada_titulo 1s ease-in-out 500ms both;
        }

        &>h1 {
            color: var(--cor-2);
            font-size: 11em;
            transition: 500ms;
        }
        
        &>h2 {
            color: var(--cor-verde);
            font-size: 2em;
            transition: 500ms;
            animation-delay: 600ms;
        }
    }
}


.inicio_direita {
    display: flex;
    align-items: center;
    justify-content: center;

    &>div {
        background-color: var(--cor-1);
        border-radius: 50%;
        height: 500px;
        justify-content: center;
        margin-left: 100px;
        position: relative;
        top: -50px;
        transition: .5s;
        width: 500px;

        &>img {
            border-radius: 50%;
            left: 150px;
            position: relative;
            top: 100px;
            transition: .5s;
            width: 400px;
            z-index: 2;
        }

        &>span {
            position: absolute;
            background-color: var(--cor-2);
            border-radius: 50%;
            height: 440px;
            left: 130px;
            top: 80px;
            transition: .5s;
            width: 440px;
            z-index: 0;
            opacity: 1;
        }
    }
}

@keyframes entrada_titulo {
    from {
        transform: translateX(500px);
    }
}